.wpcf7-form {
  input,
  textarea {
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px 30px !important;
    border: none;
  }

  input[type="checkbox"] {
    width: auto;
  }

  label {
    width: 100%;
  }

  p {
    margin: 0 !important;
  }

  a {
    color: #404d52;
    text-decoration: underline;
  }

  .wpcf7-submit {
    margin-top: 30px;
    color: #fff;
    background-color: #404d52;
    font-family: 'DM Serif Display', serif !important;
    font-size: 21px;

    &:hover {
      opacity: 0.9;
    }
  }
}
