.cta {
  background-size: 120%;
  background-repeat: no-repeat;
  padding: 10% 0px;
  background-size: cover;
  background-position: 100% center;
  position: relative;

  @media (min-width: 992px) {
    background-size: 100%;
  }

  a {
    color: #fff;
  }

  &--overlay {
    opacity: .85;

    @media (min-width: 992px) {
      opacity: 0;
    }

  }


}
 