.specjalization {
  overflow: hidden;

  .spec-item--layout-1 {
    .spec-item {
      transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      color: #fff;
      background-color: #353f3e;
      padding: 40px 30px;
      margin: 10px;
      position: relative;

      &--wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &--title {
        font-size: 24px;
        font-weight: 500;
      }

      &:hover {
        transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        .spec-item--bg {
          opacity: 0.5;
          transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        }
      }

      &--bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      }
    }
  }

  .spec-item--layout-2 {
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1px;
    }

    @include xl {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

    .spec-item {
      transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      color: #fff;
      background-color: #353f3e;
      padding: 40px 30px;
      position: relative;
      margin-bottom: 1px;
      border: 1px solid #fff;

      // @include mobile {
      //   width: 100%;
      // }

      @include xl {
        margin-bottom: 0px;
      }

      &:hover {
        transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        background-color: #2a3131;
        .spec-item--bg {
          opacity: 0.5;
          transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        }

        .spec-item--link {
          opacity: 1;
          a {
            opacity: 1;
          }
        }

        a {
          opacity: 1;
        }
      }

      &--bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      }

      &--link {
        background: #3e4747;
        padding: 10px 30px;
        opacity: 0;
      }
    }

    &--title {
      font-size: 24px;
      font-weight: 500;
    }

    img {
      max-width: 60px;
    }

    a {
      color: #fff;
      display: flex;
      align-items: center;
      position: relative;
      opacity: 1;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        text-decoration: none;

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 100%;
          background-color: #fff;
          height: 1px;
          opacity: 1;
        }
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 0%;
        background-color: #fff;
        height: 1px;
        opacity: 0;
      }
    }
  }
}
