/*
    |--------------------------------------------------------------------------
    | Homepage
    |--------------------------------------------------------------------------
    |
    | Styles for homepage
    | 
    */

.home-zespol {
  &--single {
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}

/*
    |--------------------------------------------------------------------------
    | o kancelarii
    |--------------------------------------------------------------------------
    |
    | 
    */

.about-wrapper {
  position: relative;
  overflow: hidden;

  .sign-wrapper {
    right: -133px;
    top: 30px;
    // transform: scale(0.7);
  }
}
